<div class="container">
  <div class="col-xs-1"></div>
  <div class="col-xs-3">
  	<%= attachment_image_tag @user, :profile_image, :fill, 20, 20, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" %>
  	<%= @user.name %>
  	<%= @user.introduction %>
  </div>
</div>