<div class="container"></div>
<div class="container">
	<%= render 'users/user template', user: @user, blog: @blog %>
	<div class="col-xs-7">
		<h1 class="sub-title"><%= @user.name %>さんのブログ一覧</h1>
		<br>
		<thead>
			<tr>
				<th></th>
				<th></th>
			</tr>
		</thead>

<!--マイページおよびユーザーページ-->

		<table class="table table-hover">
			<tbody>
				<% @blogs.each do |blog| %>
				<tr>
					<td>
						<h4 class="blog-title">
							<%= link_to blog_path(blog.id) do %>
								<% blog.title %>
							<% end %>
						</h4>
					</td>
					<td>
						<p class="blog-updatetime">
							<%= blog.created_at.strftime('%Y/%m/%d') %>
						</p>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>

<!--ユーザーページここまで-->

	</div>
</div>