<div class="container">
	<div class="col-xs-2"></div>
	<div class="col-xs-8">

		<% if user_signed_in? %>
		<p>ゲーム実録々へようこそ！<br>
			ゲームをプレイしていて、こんなことはありませんか？<br>
			敵の攻略方法が分からない、おすすめの武器種を知りたい、ストーリーをクリアするまでの攻略方法を知りたい等<br>
			皆さんはゲームをすているときに悩んでたり、行き詰ったりしませんか？<br>
			<br>
			<br>
			このサイトは、皆様がゲーム中にあった珍プレイ、攻略方法、ストーリー考察を共有できるサイトです！<br>
			皆様が快適にご利用いただけますよう、ルールを守ってご利用ください。<br>
		<% else %>
			<p>ゲーム実録々へようこそ！<br>
			ゲームをプレイしていて、こんなことはありませんか？<br>
			敵の攻略方法が分からない、おすすめの武器種を知りたい、ストーリーをクリアするまでの攻略方法を知りたい等<br>
			皆さんはゲームをすているときに悩んでたり、行き詰ったりしませんか？<br>
			<br>
			<br>
			このサイトは、皆様がゲーム中にあった珍プレイ、攻略方法、ストーリー考察を共有できるサイトです！<br>
			まずは、新規登録をしてみましょう！<br>
		</p>
		<% end %>
	</div>
</div>